body {
  padding-top: 50px;
}
.template {
  padding: 40px 15px;
  text-align: center;
}

#git-logo {
	float: right;
	height: 30px;
	width: 30px;
	margin: 10px 10px 0 0;
}

#team-name:hover {
	cursor: default;
	color: #9d9d9d;
}

.panel {
	min-width: 386px;
}

#commit {
	font-weight: bold;

}

#commit,
#author,
#date,
#message {
	text-align: left;
}