<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Commits</title>
    <link rel="icon" href="img/git.ico">
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <img id="git-logo" src="img/git-logo.png">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <div id="team-name" class="navbar-brand">Team Name</div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Today</a></li>
            <li><a href="#">Yesterday</a></li>
          </ul>
          </div>
        </div>
      </nav>
      <div class="container" ng-controller="CommitController">
        <div class="template">
            <div class="panel panel-default" ng-repeat="commit in commits">
              <div class="panel-heading">
                <p class="panel-title" id="commit">Commit: {{commit.commit}}</p>
                <p class="panel-title" id="author">Author: {{commit.author}}</p>
                <p class="panel-title" id="date">Date: {{commit.date | limitTo : 25}}</p>
              </div>
              <div class="panel-body" id="message">
                <p>{{commit.message}}</p>
              </div>
            </div>
        </div>
        </div>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
      </body>
    </html>